/data/theme/admin/original/Images/Avatar/Thumbs.db
/*.exe
/*.exe~
/data/bolt/*.db
/data/theme/admin/assets/combine/*.js
/data/theme/admin/assets/combine/*.css
/data/theme/admin/assets/combine/*.gz
/data/theme/admin/assets/js/clEditor/*.gz
/data/theme/admin/assets/js/colResizable/*.gz
/.vscode
*.gz
/data/upload/*
/data/bolt/*
/vendor/github.com/webx-top/webx/*.log
/*.log
/vendor/github.com/webx-top/echo/*.log
*.test
