{{Extend "#shared/layout"}}
{{Block "content"}}
{{Super}}
		<div class="contents">
			<div class="grid_wrapper">

				<div class="g_6 contents_header">
					<h3 class="i_16_forms tab_label">{{"录入"|T}}</h3>
					<div><span class="label">{{"文章录入"|T}}</span></div>
				</div>
				<div class="g_6 contents_options">
					<div class="simple_buttons">
						<div class="bwIcon i_16_settings">&nbsp;</div>
						<div class="buttons_arrow">
							<!-- Drop Menu -->
							<ul class="drop_menu menu_with_icons right_direction">
								<li>
									<a class="i_16_add" href="#" title="New Flie">
										<span class="label">New File</span>
									</a>									
								</li>
								<li>
									<a class="i_16_progress" href="#" title="2 Files Left">
										<span class="label">Files Left</span>
										<span class="small_count">2</span>
									</a>
								</li>
								<li>
									<a class="i_16_files" href="#" title="Browse Files">
										<span class="label">Browse Files</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="g_12 separator"><span></span></div>

				<div class="g_12">
					<div class="widget_header">
						<h4 class="widget_header_title wwIcon i_16_forms">{{if eq ActionName "Edit"}}{{"修改文章"|T}}{{else}}{{"添加文章"|T}}{{end}}</h4>
					</div>
					<div class="widget_contents noPadding">
					<form action="" method="post" id="formPost" data-validate="false">
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"标题"|T}}
							<span class="must">*</span></span><div class="field_notice">{{"文章标题"}}</div></div>
							<div class="g_9">
								<input class="simple_field" required="required" type="text" name="Title" value="{{.Detail.Title}}" />
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"分类"|T}}<span class="must">*</span></span></div>
							<div class="g_9" id="categorySelector">
                                
                                {{if .Breadcrumbs}}
                                {{range $k,$v:=.Breadcrumbs}}
                                {{if gt $k 0}}
								<span class="prettySelector">
								<select id="select-rcategeries-{{$k}}" rel="{{$v.Id}}">
									<option value="0">- {{"请选择"|T}} -</option>
								</select>
								</span>
                                {{else}}
								<span class="prettySelector">
								<select id="select-rcategeries" rel="{{$v.Id}}" data-sync="#cate-id" data-url="{{BuildURL "Category" "Index"}}">
									<option value="0">- {{"请选择"|T}} -</option>
								</select>
								</span>
                                {{end}}
                                {{end}}
                                {{else}}
								<span class="prettySelector">
								<select id="select-rcategeries" rel="" data-sync="#cate-id" data-url="{{BuildURL "Category" "Index"}}">
									<option value="0">- {{"请选择"|T}} -</option>
								</select>
								</span>
                                {{end}}
                                <input type="hidden" id="cate-id" name="Catid" value="{{.Detail.Catid}}">
                                
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"简介"|T}}</span></div>
							<div class="g_9">
								<textarea class="simple_field elastic twMaxChars" name="Description">{{.Detail.Description}}</textarea>
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"编辑器"|T}}<span class="must">*</span></span></div>
							<div class="g_9">
								<label><input type="radio" name="Etype" class="simple_form" value="html"{{if or (eq .Detail.Etype "") (eq .Detail.Etype "html")}} checked="checked"{{end}}><span class="label ilC">{{"HTML可视化编辑器"|T}}</span></label>
								<label><input type="radio" name="Etype" class="simple_form" value="markdown"{{if eq .Detail.Etype "markdown"}} checked="checked"{{end}}><span class="label ilC">{{"Markdown编辑器"|T}}</span></label>
								<div class="field_notice">{{"请注意"|T}}: {{"从HTML向Markdown编辑器切换时，您在\"HTML可视化编辑器\"中所做的修改会丢失，而后者向前者切换则不会。"}}</div>
								<textarea id="etype-markdown-content" style="display:none">{{.Other.Content}}</textarea>
								<textarea id="etype-html-content" style="display:none">{{.Detail.Content}}</textarea>
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"内容"|T}}<span class="must">*</span></span></div>
							<div class="g_9">
								<div id="editor-container" style="z-index:99">
								<textarea class="simple_field" name="Content" style="height:600px" data-content-elem="#etype-{=type=}-content" data-upload-url="{{AppURLFor (printf "/Index/Upload?immediate=1&%v=%v" XsrfName XsrfValue)}}">{{.Detail.Content}}</textarea>
								</div>
								<div class="field_notice"></div>
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"权限"|T}}<span class="must">*</span></span></div>
							<div class="g_9">
								<label><input type="radio" name="Display" class="simple_form" value="ALL"{{if or (eq .Detail.Display "") (eq .Detail.Display "ALL")}} checked="checked"{{end}}><span class="label ilC">完全公开</span></label>
								<label><input type="radio" name="Display" class="simple_form" value="SELF"{{if eq .Detail.Display "SELF"}} checked="checked"{{end}}><span class="label ilC">自己可见</span></label>
								<label><input type="radio" name="Display" class="simple_form" value="FRIEND"{{if eq .Detail.Display "FRIEND"}} checked="checked"{{end}}><span class="label ilC">好友可见</span></label>
								<label><input type="radio" name="Display" class="simple_form" value="PWD"{{if eq .Detail.Display "PWD"}} checked="checked"{{end}}><span class="label ilC">需要密码</span></label>
							</div>
						</div>
						<div class="line_grid" id="inputPasswd">
							<div class="g_3"><span class="label">{{"访问密码"|T}}</span></div>
							<div class="g_9">
								<input type="text" placeholder="" title="" disabled="disabled" name="Passwd" class="simple_field tooltip" value="{{.Detail.Passwd}}">
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"允许评论"|T}}</span></div>
							<div class="g_9">
								<label><input type="checkbox" name="AllowComment" class="simple_form" value="1"{{if or (eq .Detail.AllowComment "") (eq .Detail.AllowComment "Y")}} checked="checked"{{end}}></label>
							</div>
						</div>
						<div class="line_grid">
							<div class="g_3"><span class="label">{{"标签"|T}}</span></div>
							<div class="g_9">
								<input type="text" name="Tags" class="simple_field tooltip" value="{{.Detail.Tags}}" placeholder="" title="多个标签用逗号隔开">
							</div>
						</div>
							<div class="line_grid">
								<div class="g_3"><span class="label">提交</span></div>
								<div class="g_9">
									<input type="hidden" name="EditorId" value="editor-container">
									<input type="hidden" name="Id" value="{{.Detail.Id}}">
									{{XsrfForm}}
									<input type="submit" value="保存" class="submitIt simple_buttons" />
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>		
		</div>
<script>
webx.pageJs=webx.jsFile("Edit");
var errors={{JsonEncode .Errors|Js}};
var errorFor={{For}};
</script>
{{/Block}}