
		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="{{if eq ControllerName "Index"}}active_tab {{end}}i_32_dashboard">
					<a href="{{Url "Index" "Index"}}" title="{{"全局信息"|T}}">
						<span class="tab_label">{{"首页"|T}}</span>
						<span class="tab_info">{{"全局信息"|T}}</span>
					</a>
				</li>
				<li class="{{if eq ControllerName "Post"}}active_tab {{end}}i_32_inbox">
					<a href="{{Url "Post" "Index"}}" title="{{"我的博文"|T}}">
						<span class="tab_label">{{"文章"|T}}</span>
						<span class="tab_info">{{"我的博文"|T}}</span>
					</a>
				</li>
				<li class="i_32_charts">
					<a href="charts.html" title="Visual Data">
						<span class="tab_label">Charts</span>
						<span class="tab_info">Visual Data</span>
					</a>
				</li>
				<li class="i_32_ui">
					<a href="ui.html" title="Kit elements">
						<span class="tab_label">UI</span>
						<span class="tab_info">Kit elements</span>
					</a>
				</li>
				<li class="i_32_tables">
					<a href="tables.html" title="Some Rows">
						<span class="tab_label">Tables</span>
						<span class="tab_info">Some Rows</span>
					</a>
				</li>
				<li class="i_32_forms">
					<a href="forms.html" title="Some Fields">
						<span class="tab_label">Forms</span>
						<span class="tab_info">Some Fields</span>
					</a>
				</li>
			</ul>
		</aside>
		