
		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="{{if eq ControllerName "Index"}}active_tab {{end}}i_32_dashboard">
					<a href="{{Url "Index" "Index"}}" title="{{"全局信息"|T}}">
						<span class="tab_label">{{"首页"|T}}</span>
						<span class="tab_info">{{"全局信息"|T}}</span>
					</a>
				</li>
				<li class="{{if eq ControllerName "Post"}}active_tab {{end}}i_32_inbox">
					<a href="{{Url "Post" "Index"}}" title="{{"我的博文"|T}}">
						<span class="tab_label">{{"文章"|T}}</span>
						<span class="tab_info">{{"我的博文"|T}}</span>
					</a>
				</li>
				<li class="{{if eq ControllerName "Category"}}active_tab {{end}}i_32_charts">
					<a href="{{Url "Category" "Index"}}" title="{{"分类管理"|T}}">
						<span class="tab_label">{{"分类"|T}}</span>
						<span class="tab_info">{{"分类管理"|T}}</span>
					</a>
				</li>
				<li class="{{if eq ControllerName "Comment"}}active_tab {{end}}i_32_ui">
					<a href="{{Url "Comment" "Index"}}" title="{{"全部评论"|T}}">
						<span class="tab_label">{{"评论"|T}}</span>
						<span class="tab_info">{{"全部评论"|T}}</span>
					</a>
				</li>
				<li class="{{if eq ControllerName "Link"}}active_tab {{end}}i_32_tables">
					<a href="{{Url "Link" "Index"}}" title="{{"友情链接"|T}}">
						<span class="tab_label">{{"友链"|T}}</span>
						<span class="tab_info">{{"友情链接"|T}}</span>
					</a>
				</li>
				<li class="{{if eq ControllerName "Setting"}}active_tab {{end}}i_32_forms">
					<a href="{{Url "Setting" "Index"}}" title="{{"网站设置"|T}}">
						<span class="tab_label">{{"配置"|T}}</span>
						<span class="tab_info">{{"网站设置"|T}}</span>
					</a>
				</li>
			</ul>
		</aside>
		